body{
	
	color: #000000;
	
}
.container{
	width: 1440px;
	height: 3080;
	border: 1px solid rgb(30, 31, 28);
	margin: auto;
	
	
}
a{
	color: #000000;
}
h2{
	font-family: var(--font-family-fo-r);
	font-size: 36px;
	line-height: 48px;
	letter-spacing: 0.04em;
   text-transform: uppercase;
}


header{
	padding:0px 120px;
	width: 1440px;
	height: 80px;
	border: 1px solid red ;
	font-size: 22px;
	line-height: 28px;

}
.wrapper{
	height: 80px;
	width: 100%;
}
.header-position{
	/* position: fixed;
	z-index: 99; */
	width: 1440px;
	height: 80px;
	/* border: 1px solid rgb(133, 142, 238); */
	
}
.header-row{
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}

.header__lang{
	margin-right: 50px;
	font-family: var(--font-family-t-sb);
	line-height: 18px;
}

.header__nav span{
	font-family: var(--font-family-st-r);	
	letter-spacing: 0.03em;
}

main{
	font-size: 28px;
	line-height: 48px;
	padding: 54px  90px 0px 100px;
	height: 100%;
	
}

.main-row{
	display: flex;
	
	
	
}

.wrapp{
	height: 100%;
	border: 1px solid rgb(0, 255, 51);
	top: 120px;
}
.side-bar{
	width: 385px;
	height: 462px;
	position: sticky;
	border: 1px solid rgb(225, 255, 0);
	top: 120px;
}
.side-bar li{
	margin-bottom: 70px;
	border-bottom: 1px solid #BDBDBD;
	/* identical to box height, or 133% */


}
.chapters{
	width: 785px;
	height: 100%;
	border: 1px solid red ;
	position: relative;
	top: 150px;
		
}
.sticky-img{
	position: sticky;
	z-index: -1;
	top: 70px;
	right: 0;
	left: 55%;
}
.chapters__background{
	
	
}
section{
	margin-bottom: 70px;
}

section p{
	font-family: var(--font-family-ps-r);
	margin-top: 40px;
}
/* #chapters__react{
	position: sticky;
} */
.chapters span{
	background-color: #EAEAEA;
}

hr{
	width: 100px;
	height: 8px;
	background: #000000;
	margin-bottom: 20px;
}
sup{
	font-family: var(--font-family-f-r);
	font-size: 20px;
line-height: 30px;
text-transform: none;
font-weight: 300;
}

